.main-home {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url(../assets/background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
}

.center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 40px 20px;
    margin: 40px 0;
}

.overlay {
    background-color: rgba(229, 241, 228, 0.85);
    color: black;
    padding: 25px 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: auto;
}

.button {
    margin-top: 25px;
}

.button a {
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 10px;
    color: rgb(115, 49, 32);
    background-color: rgb(241, 181, 51);
    font-weight: bold;
    transition: 0.3s;
    display: inline-block;
}

.button a:hover {
    background-color: rgb(115, 49, 32);
    color: rgb(241, 181, 51);
}

footer {
    margin-top: 40px;
}

@media (min-width: 600px) {
    .overlay {
        width: 500px;
        padding: 30px;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: larger;
    }
}